.box-shadow {
    background: var(--secondery-bg);
    box-shadow: -2px 3px 10px 1px #3331, -1px 1px 25px #3364;
    border-radius: 25px;
}
.weatherbox {
    width: 95%;
    height: 60%;
    min-height: 88px;
    max-height: 105px;
    margin: auto auto;
    display: grid;
    border-radius: 25px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0;
}
.weatherbox .infos .icon {
    object-fit: contain;
    height: 40%;
    filter: contrast(160%) hue-rotate(326deg);
}
.weatherbox .infos {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.weatherbox .infos > .value {
    font-size: .8rem;
    font-weight: 600;
    padding-top: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.weatherbox .infos > .name {
    font-size: .8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.weatherbox * {
     border: none; 
}
.forecast-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.forecast-container {
    display: flex;
    /* overflow: hidden; */
    gap: 10px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 5px 10px;
    flex-basis: 40%;
    position: relative;
    align-items: center;
    /* background-color: red; */
}
.forecast-details {
    background-color: #f0f1;
    border: 1px solid #f0f8;
    margin: 8px;
    display: grid;
    border-radius: 8px;
    place-items: center;
    flex-grow: 1;

}
.forecast {
   border-radius: 12px;
   /* min-width: 64px; */
   aspect-ratio: 1 / 1.7;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: grid;
   grid-template-rows: 3fr 1.8fr 1fr;
   transition: .2s;
   height: 80%;
   cursor: pointer;
   position: relative;
   /* height: 200px; */
}
.forecast:hover {
    transform: scale(1.3);
    z-index: 2;
}

.forecast:hover + .forecast {
    transform: scale(1.2);
    z-index: 1;
}
.forecast:hover + .forecast + .forecast {
    transform: scale(1.1);
}
.forecast:has( + .forecast:hover) {
    transform: scale(1.2);
}
.forecast:has( + .forecast + .forecast:hover) {
    transform: scale(1.1);
}
/* .forecast:hover ~ .forecast:not(:hover, :is(:hover + .forecast, :hover + .forecast + .forecast)) {
    transform: scale(.9);
} */
.forecast > .forecast-icon {
    align-self: center;
    justify-self: center;
    width: 70%;
    margin-top: 20%;
    filter: drop-shadow(-2px 5px 15px #58b7ff76) blur(0px) brightness(103%) var(--invert-img);
}
.forecast > .percentage {
    justify-self: center;
    align-self: center;
    transform: translate(15%);
}
.forecast > .time-stamp {
    font-size: 0.6rem;
    justify-self: center;
    font-weight: 350;
    display: flex;
    gap: 2px;
    align-self: center;
}
.weather-info {
    /* background: rgba(34, 0, 255, 0.295); */
}