.Section1 {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}
.Section1 .weather-main {
    /* border: 1px solid red; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.weather-main .icon- {
    width: clamp(150px,300px,60%);
    filter: drop-shadow(-2px 5px 50px #58b7ff76) blur(0px) brightness(103%) grayscale(0%) hue-rotate(0deg);
    animation: anim 3s ease-in infinite;
}
@keyframes anim {
    0%, 100% {
        filter: drop-shadow(-2px 5px 50px #58b7ff76) blur(2px) contrast(100%) brightness(110%) grayscale(0%) hue-rotate(0deg);
    } 50% {
        filter: drop-shadow(-2px 5px 50px #58b7ff76) blur(0px) contrast(130%) brightness(103%) grayscale(10%) hue-rotate(10deg);
    }
}
.tf {
    font-size: 2rem;
}
.temperature > .temp {
    font-size: 4.5rem;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.description {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cityName {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2rem;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.date {
    font-size: .9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

