:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::spelling-error {
  text-decoration: underline dotted #f348;
}
::selection {
  background: rgba(0, 255, 136, 0.4);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background: transparent;
  color: transparent;
  width: 0;
}
body {
  height: 100dvh;
  max-width: 100dvw;
  /* background: linear-gradient(-67deg, #ECF4FF, #F5F9FF); */
}
#root {
  height: 100%;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
