:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #212121;
  --primary-bg: #fff;
  --secondery-bg: #F9FBFF;
  --invert: 0%;
  /* --invert-img: invert(0%); */
  --invert-img: invert(10%) contrast(144%) brightness(100%) hue-rotate(320deg);

}
::spelling-error {
  text-decoration: underline dotted #f348;
}
::selection {
  background: rgba(0, 255, 136, 0.4);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background: transparent;
  color: transparent;
  width: 0;
}
body {
  height: 100dvh;
  max-width: 100dvw;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  /* background: linear-gradient(-67deg, #ECF4FF, #F5F9FF); */
}
#root {
  height: 100%;
}
.loader-container {
  height: 100%;
  display: grid;
  place-items: center;
}
.loader {
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: conic-gradient(rgba(14, 103, 255, .6) 50deg, transparent 230deg);
  animation: loading .4s linear infinite;
}
.loader::before {
  content: '';
  inset: 5px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #efefef;
    --primary-bg: #030303;
    --invert: 100%;
    --hue: 164deg;
    --invert-img: invert(100%) contrast(204%) brightness(160%) hue-rotate(var(--hue));
    --secondery-bg: #ffffff15;
  }
}
